body {
    background-color: #b4a7d6;
}

#navbar {
    text-align: right;
    width: 800px;
    height: 20px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 0;
    font-family: "Courier New";
    font-size: 18px;

}

div#top-header {
    text-align: left;
    background-color: #61499f;
    width: 800px;
    height: 50px;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: "Courier New";
}

div#body {
    margin: 0 auto;
    background-color: #61499f;
    width: 800px;
    height: 400px;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid black;
    font-family: "Courier New";
    font-size: 25px;
    
}
div#art {
    margin: 0 auto;
    background-color: #61499f;
    width: 800px;
    height: 1500px;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid black;
    font-family: "Courier New";
    font-size: 25px;
    
}

img#me {
    width: 20%;
    border-radius: 100%;
    border: 2px solid black;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
}

img#boxes {
    width: 90%;
    margin: 0 auto;
}
a:hover {
    color: pink;
}

table, th, td {

    margin: 0 auto;
    border: 2px solid;
    padding: 10px;
    border-collapse: collapse;
    
}
